REACT_APP_SUPABASE_URL=https://enjnaaimexwxiiiofidd.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuam5hYWltZXh3eGlpaW9maWRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0NjI1MTksImV4cCI6MjA3MDAzODUxOX0.wZ58_BE9ufAXtMqYiOWQlPHG3NQ5NHtvMpDnh7vf7yg 